@import url(../CSS/components/colors.css);


body {
    font-family: "Inter", serif;
 }
 
 main {
     display: flex;
     flex-direction: row;
     
     margin: 50px;
     gap: 180px;
 }
 
 .espace {
     width: 120px;
 }
 
 h1 {
     text-align: center;
 margin: 0;
     font-size: 30px;
     font-weight: bold;
     color: black;
 }
 
 h2 {
     font-size: 25px;
     font-weight: bold;
     color: var(--main_blue);
     margin: 0;
 }
 nav {
     text-align: center;
     display: flex;
     flex-direction: column;
     gap: 51px;
     position: fixed;
     width: 120px;
     height: 646px;
 }
 
 nav ul {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;  
     padding: 0;
     margin: 0;
 }
 
 nav ul li {
 display: flex;
 justify-content: center;
 align-items: center;
 list-style: none;
 margin: 0;
 padding: 0;
 
 }
 
 
 .chap {
     width: 45px;
     height: 45px;
     border-radius: 100px;
     text-align: center;
     background-color: var(--secondary_blue);
 }
 
 .actif {
     background-color: var(--main_blue);
 }
 
 .trait {
     width: 3px;
     height: 50px;
     background-color: #99B9FF;
 }
 
 nav ul li p {
     margin: 0;
     padding: 0; 
     align-items: center;
     color: #ffff;
     font-weight: bold;
 }
 section {
    width: 70%;
    
 }
 section #cours {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 50px;
 }
 
 #title {
 position: sticky;
 top: 0;
 background-color: #ffff;
 padding: 30px 0px;
 margin: -1px;
 }
 
 img {
    max-width: 100%;
 }
 
 
 
 #cours p {
     font-size: 18px;
     text-align: justify;
 }
 
 .margebottom {
     display: flex;
     flex-direction: row;
     gap: 25px;
     margin: 25px 0px;
 }
 
 .margetop {
     display: flex;
     flex-direction: row;
     gap: 25px;
     margin-top: 25px;
 }
 .both {
     margin: 25px 0px; 
 }
 
 button {
     display: flex;
     flex-direction: row;
     gap: 10px ;
     border: none;
     background: none;
     align-items: center;
     cursor: pointer;
 }
 .next {
     text-decoration: none;
 }
 .next p {
     font-size: 25px;
     color: var(--main_blue);
     font-family: "Inter", serif;
 }

 footer {
     display: flex;
     justify-content: flex-end;
     margin-top: 50px;
 }
 

/* Responsive styles */
@media (max-width: 1000px) {
    main {
        flex-direction: column;
        margin: 20px;
        gap: 20px;
    }

    nav {
        display: none;
    }

    nav ul {
        flex-direction: row;
        gap: 10px;
    }

    img {
        max-width: 40%;
    }
.espace {
    display: none;
}
    .chap {
        width: 30px;
        height: 30px;
    }

    .trait {
        width: 30px;
        height: 2px;
    }
    section {
        width: 100%;
        
     }
    section #cours {
        width: 100%;
        margin: 10px 0;
    }

    footer {
        justify-content: center;
    }

    
}

@media (max-width: 680px) {
    img {
        max-width: 100%;
    }

    .margebottom {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 25px;
        margin: 25px 0px;
    }
    
    .margetop {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        margin-top: 25px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    .chap {
        width: 25px;
        height: 25px;
    }

    #title {
        padding: 10px;
    }

    img {
        max-width: 100%;
    }

  

    .next p {
        font-size: 18px;
    }

    
}