
@import url(components/default.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  padding: 5% 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}
  
#stateContainer {
  display: flex;
  flex-direction: column;
  width: 80vw;
  min-height: 600px;
  /*height: 55vh;*/
  padding: 5% 5% 3% 5%;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#stateContainer > *{
  padding: 20px 0;
}

ol {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: auto;
  min-height: fit-content;
  row-gap: 30px;
  list-style: none;

}

li {

  display: flex;
  justify-content: center;
  width: 50%;

}
  
h1 {
  font-size: 20px;
}
  
.imgEmpty {
  width: auto;
  height: 200px;
  background: #eaeaea;
  border-radius: 4px;
}

.answer {

  width: 70%;
  padding: 20px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background: #f1f1f1;
  color: #333;
  text-align: left;
  transition: .3s ease;
}

#divBtn {

  margin: 0 5% 0 auto;
  padding: 0;

}

#divBtn > *{

  padding: 8px 10px;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  background: initial;
  color: var(--main_blue);
  cursor: pointer;

}